 *{
        
    }
    body{
        background-color: rgb(224, 224, 224);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap:50px;
    }
    .paper{
        background-color: white;
        border:1px solid black;
        width:210mm;
        height: 297mm;
        border: 1px solid black;
        font-size: 12pt;
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        position: relative;
        font-family:'Times New Roman', Times, serif;
    }
    .board{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        font-size: 15px;
    }
    .info{
        background-color: rgb(255, 255, 255);
        padding: 15px;
        border-radius: 12px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    h1, h2, p{
        page-break-inside: avoid;
        word-wrap: brea;
        overflow-wrap: break-word;
    }

    table{
        border:1px solid gray;
        border-radius: 13px;
        padding: 10px;
        background-color: rgb(248, 248, 248);
        font-size: 20px;
    }
    .title{
        background-color: rgb(0, 0, 0);
        color: white;
    }
    td{
        border: 1px solid gray;
        padding: 5px;
    }

    .top-right{
        top:30px;
        right:60px;
        position: absolute;
        text-align: right;
    }
    .left{
        position:absolute;
        left: 60px;
        bottom: 650px;
        text-align: left;
    }

    @media print {
        @page{
            size: A4 portrait;
            margin: 0;
        }
        body * {
            visibility: hidden;
        }
        body{
            margin: 0;
            padding: 0;
            display: block;
            background:white;
        }
        .paper, .paper *{
            visibility: visible;
        }
        .board{
            visibility: visible;
        }
        .paper{
            border: none;
            position: static;
        }
    }