{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FlowFin</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/accounting/index.css' %}">
<link rel="icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
</head>

<body>

<!-- ===== NAVBAR ===== -->
<header class="topbar">
    <a href="{% url 'accounting:home' %}" style="text-decoration: none;color: white;"><h1>FlowFin | Buxgalteriya</h1></a>
    <div class="nav-actions">
        <a href="{% url 'accounting:payment' %}" style="text-decoration: none; color: black;" class="ghost">💳 To‘lov qilish</a>
        <a href="{% url 'accounting:history' %}" style="text-decoration: none; color: black;" class="ghost">📜 Tasdiqlar tarixi</a>
        <a href="{% url 'accounting:report' %}" style="text-decoration: none; color: black;" class="ghost">🧾 Hisobot</a>
    </div>
    <a href="{% url 'auth:logout' %}" style="text-decoration: none;color: white;"><h3>{{user.full_name}}</h3></a>
</header>

<main class="container">

<!-- ===== LOAN 1 ===== -->
 {% for i in loans %}
<div class="loan">
    <div class="loan-header" onclick="toggle(this)">
        <div><div class="label">Kredit</div><div class="value">№{{i.contract_id}}</div></div>
        <div><div class="label">Mijoz</div><div class="value">{{i.client.full_name}}</div></div>
        <div><div class="label">Jami</div><div class="value">{{i.total_amount|intcomma}} so'm</div></div>
        <div><div class="label">Oylik</div><div class="value">{{i.payment|intcomma}} so'm</div></div>
        <span class="badge wait">Kutilmoqda</span>
    </div>

    <div class="loan-body">
        <div class="grid-3">
            <div><div class="label">Mahsulot</div><div class="value">{{i.product.name}}</div></div>
            <div><div class="label">Foiz</div><div class="value">{{i.rate}}%</div></div>
            <div><div class="label">Scoring</div><div class="value">{{i.scoring}}</div></div>
            <div><div class="label">Daromad</div><div class="value">{{i.monthly_income|intcomma}} so'm</div></div>
            <div><div class="label">Chiqim</div><div class="value">{{i.monthly_spending|intcomma}} so'm</div></div>
            <div><div class="label">Muddat</div><div class="value">{{i.term}} oy</div></div>
        </div>

        <!-- <div class="label" style="margin-top:16px">Izoh</div> -->
        <!-- <textarea placeholder="Rad etish sababi (majburiy)"></textarea> -->

        <div class="actions">
            <button class="danger" onclick="reject('{{i.loan_id}}')">Rad etish</button>
            <button class="primary" onclick="approve('{{i.loan_id}}')">Tasdiqlash</button>
            <a class="ghost" style="text-decoration: none;color: black;" href="{% url 'accounting:document' i.loan_id 'accounting_cheque' %}">🖨 Chop etish</a>
        </div>
    </div>
</div>
{% endfor %}
<input type="hidden" id="csrf_token" value="{{ csrf_token }}">

</main>

<script>
function toggle(el){
    el.closest(".loan").classList.toggle("open");
}


function printLoan(btn){
    const loan = btn.closest(".loan");
    loan.classList.add("printing");
    window.print();
    setTimeout(()=>loan.classList.remove("printing"),500);
}



function reject(loan_id){
    $.ajax({
        url: "{% url 'reject' %}",
        method: "POST",
        headers: {
            "X-CSRFToken": document.getElementById("csrf_token").value
        },
        data: {
            loan_id: loan_id
        },
        success: function( result ) {
            window.location.reload()
        }
    });
}

function approve(loan_id){
        $.ajax({
            url: "{% url 'accounting:done' %}",
            method: "POST",
            headers: {
                "X-CSRFToken": document.getElementById("csrf_token").value
            },
            data: {
                loan_id: loan_id
            },
            success: function( result ) {
                window.location.reload()
            }
        });
    }

</script>

</body>
</html>
