{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FlowFin</title>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/accounting/payment.css' %}">
<link rel="icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
</head>
<body>
<header>
  <a href="{% url 'accounting:home' %}" style="text-decoration: none;color: white;"><h2>📊 Kredit To‘lovlari (Ko‘rish)</h2></a>
</header>

<div class="container">

<!-- SEARCH (UI ONLY) -->
<form class="search" method="get">
  <input placeholder="Kredit № ni kiriting" type="search" name="q" value="{{q}}">
  <button type="submit">🔍 Qidirish</button>
</form>

{% if loan %}
<!-- LOAN INFO -->
<div class="loan-info">
  <div><b>Mijoz:</b> {{loan.client.full_name}}</div>
  <div><b>Kredit №:</b> {{loan.contract_id}}</div>
  <div><b>Oylik to‘lov:</b> {{loan.payment|intcomma}} so‘m</div>
  <div><b>Muddat:</b> {{loan.term}} oy</div>
  <div><b>Qolgan summa:</b> <code id="left_amount"></code> so‘m</div>
</div>

<!-- PAYMENT INPUT (READ ONLY) -->
<div class="controls">
  <input placeholder="To‘lov summasi" type="number" id="amount">
  <button class="primary" onclick="pay({{loan.id}})">💳 To‘lash</button>
  <a id="cheques-btn" href="{% url 'accounting:payment_history' loan.contract_id %}" class="danger">📅 To‘lov cheklari</a>
</div>

<!-- MONTHS TABLE -->
<div class="months">
{% for i in loan.payment_months.all %}
  <div class="month">
    <div><b>{{i.month}}-oy</b></div>
    <div><div class="label">Sana</div><div class="value">{{ i.payment_date|intcomma }}</div></div>
    <div><div class="label">To'lash kerak</div><div class="value">{{ i.left_amount|intcomma }} so'm</div></div>
    <div><div class="label">Jarima</div><div class="value">{{i.penalty|intcomma}} so'm</div></div>
    {% if i.is_paid %}
        <div><span class="badge paid">To‘langan</span></div>
    {% else %}
        <div><span class="badge unpaid">To‘lanmagan</span></div>
    {% endif %}
  </div>
  {% endfor %}

</div>
{% endif %}

</div>

</body>
</html>

<script>
  let total_left = 0

  {% for i in loan.payment_months.all %}
    total_left += Number('{{ i.left_amount }}');
  {% endfor %}

  document.getElementById("left_amount").innerText = total_left.toLocaleString();

    function pay(id){
        let amount = document.getElementById("amount").value
        if (amount > 0){
            let url = `/accounting/pay/${id}/${amount}`
            fetch (url)
            setTimeout(()=>{
                window.location.reload()
            },500)
        }
    }
</script>
